@model IEnumerable<WebowaPomocStrona.Models.Zadanie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zadania</h2>
@using (Html.BeginForm("New", "Zadania"))
{
    <button type="submit" class="btn btn-primary">Nowe Zadanie</button>
}
<br/>
@if(!Model.Any())
{
    <text>Brak jakichkolwiek zadań.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Zajecia</th>
            <th>Temat</th>
            <th>Termin</th>
            <th>Opcje</th>
        </tr>
        @foreach (var zadanie in Model)
        {
            if (zadanie.CzyZrobione == false)
            {
                <tr class="warning">
                    <td>@zadanie.Zajecia.Nazwa</td>
                    <td>@zadanie.Temat</td>
                    <td>@zadanie.Termin</td>
                    <td>@Html.ActionLink("Szczegóły", "Details", "Zadania", new { Id = zadanie.Id }, null)  @Html.ActionLink("Oznacz jako zrobione", "MarkAsDone", "Zadania", new { Id = zadanie.Id }, null)    @Html.ActionLink("Usuń", "Delete", "Zadania", new { Id = zadanie.Id }, null)    @Html.ActionLink("Edytuj", "Edit", "Zadania", new { Id = zadanie.Id }, null)</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@zadanie.Zajecia.Nazwa</td>
                    <td>@zadanie.Temat</td>
                    <td>@zadanie.Termin</td>
                    <td>@Html.ActionLink("Szczegóły", "Details", "Zadania", new { Id = zadanie.Id }, null)  @Html.ActionLink("Usuń", "Delete", "Zadania", new { Id = zadanie.Id }, null)</td>
                </tr>
            }
        }
    </table>
}


                
