@model WebowaPomocStrona.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = "ZadaniaForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj Zadanie</h2>

@using (Html.BeginForm("Save", "Zadania"))
{
    <div class="from-group">
        @Html.LabelFor(m => m.zadanie.Temat)
        @Html.TextBoxFor(m => m.zadanie.Temat, new { @class = "form-control" })
    </div>
    <div class="from-group">
        @Html.LabelFor(m => m.zadanie.Informacje)
        @Html.TextBoxFor(m => m.zadanie.Informacje, new { @class = "form-control" })
    </div>
    <div class="from-group">
        @Html.LabelFor(m => m.zadanie.ZajeciaId)
        @Html.DropDownListFor(m => m.zadanie.ZajeciaId, new SelectList(Model.zajecia, "Id", "Nazwa"), "Wybierz zajęcia", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.zadanie.Termin)
        @Html.TextBoxFor(m => m.zadanie.Termin, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.zadanie.Id)
    <button type="submit" class="btn btn-primary">Dodaj</button>
}